:host{
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.profile-card {
    display: flex;
    border: 2px solid black;
  }
  
  .image-container img {
    width: 300px;
    height: 400px; /* Set the height to the same value as the width */
    object-fit: cover; /* This ensures the image maintains its aspect ratio and covers the entire container */
  }
  
  .social-links a {
    display: inline-block;
    margin: 10px;
  }
  
  .social-links img {
    width: 30px; /* Adjust the width as needed */
  }
