<div class="profile-card">
    <div class="image-container">
        <img src="assets/IMG_20221029_163905116.jpg" alt="Profile Image">
    </div>

    <div class="profile-info">
        <div class="profile-details">
            <label>Vivek</label>
            <label>24</label>
            <label>Leuva Patel</label>
            <label>Surat</label>
        </div>
        <div class="social-links">
            <a href="https://www.linkedin.com" target="_blank">
                <img src="assets/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="assets/instagram.png" alt="Instagram">
            </a>
        </div>
    </div>
</div>