<div class="profile-container">
    <div class="profile-info">
        <div class="profile-info-navbar">
            <div class="profile-info-navbar-back">
                <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div class="profile-info-navbar-preview">
                Preview
            </div>
        </div>
        <div class="profile-info-edit">
            <div>
                <h1>Edit</h1>
            </div>
        </div>
        <div class="profile-img-info">
            <div class="profile-img">
                <img class="profile-img-src"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Emma_D%27Arcy.jpg/330px-Emma_D%27Arcy.jpg"
                    width="100%">
            </div>
        </div>
        <div class="profile-basic-info">
            <a class="profile-basic-info-title-action" routerLink="/main/editprofile/about">
                <div class="profile-basic-info-title-action-label">
                    <label>About</label>
                </div>
                <div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </a>
        </div>
        <div class="profile-basic-info">
            <a class="profile-basic-info-title-action" routerLink="basic/edit">
                <div class="profile-basic-info-title-action-label">
                    <label>Work & Education</label>
                </div>
                <div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </a>
        </div>
        <div class="profile-basic-info">
            <a class="profile-basic-info-title-action" routerLink="profile/edit/about">
                <div class="profile-basic-info-title-action-label">
                    <label>Your Basic Info</label>
                </div>
                <div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </a>
        </div>
    </div>
    <div class="empty">

    </div>
</div>