.side-nav{
    display: flex;
    flex-direction: column;
}
.nav-item{
    width: 100%;
    text-align: center;
}
.nav-item a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 20px;
    text-align: left;
}
.nav-item a:hover{
    color: #6e3eff;
}
.active{
    color: #6e3eff;
}
i{
    cursor: pointer;
}
i:hover{
    color: #6e3eff;
}





.disabled{
    pointer-events: none;
    opacity: 0.3;
}
.xating {
    font-size: 40px;
    color: #6e3eff;
    text-align: center;

    display: flex;
    flex-direction: row;
    justify-content: center;
}
.profile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

}