<div class="bottom-nav">
    <div class="nav-item">
        <a routerLink="home" routerLinkActive="active" [class.disabled]="!isAuthenticated"><i class="fa-solid fa-house"></i></a>
    </div>
    <div class="nav-item">
        <a routerLink="recommendation" routerLinkActive="active" [class.disabled]="!isAuthenticated"><i class="fa-regular fa-comment"></i></a>
    </div>
    <div class="nav-item">
        <a routerLink="profile" routerLinkActive="active" [class.disabled]="!isAuthenticated"><i class="fa-solid fa-user"></i></a>
    </div>
</div>