<!-- <div class="profile">
    <div class="profile-img-name-complete">
        <div class="profile-page-profile-img">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" width="100%">
        </div>
        <div class="profile-name-complete">
            <div class="name">vivek</div>
            <div class="progress-container">
                <input type="range" value="42" min="0" max="100">
                <div class="progress-label">42% Profile Complete</div>
            </div>
        </div>
    </div>
</div> -->


<div class="profile">
    <div class="profile-img-name-complete">
        <div class="profile-page-profile-img">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" width="100%">
        </div>
        <div class="profile-name-complete">
            <div>vivek</div>
            <div><input type="range" value="50" min="0" max="100"></div>
            <div>42% Profile Complete</div>
        </div>
    </div>

    <div class="profile-basic-info">
        <a class="profile-basic-info-title-action" routerLink="/main/editprofile">
            <div class="profile-basic-info-title-action-label">
                <i class="fa-regular fa-pen-to-square"></i>
                <label>Edit Profile</label>
            </div>
            <div>
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </a>
    </div>

    <div class="empty">

    </div>
</div>

<!-- <section class="main-page">
    <div class="main-profile">
        <div class="preview-img">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
        </div>
        <div class="profile-preview">
            <label for="">vivek</label>
            <div class="profile-percentage">
                <input type="range" value="50" min="0" max="100">
                <p>42% Profile Complete</p>
            </div>
        </div>
    </div>

    <div class="main-section">
        <div class="profile-basic-info">
            <a class="profile-basic-info-title-action" routerLink="/main/editprofile">
                <div class="profile-basic-info-title-action-label">
                    <i class="fa-regular fa-pen-to-square"></i>
                    <label>Edit Profile</label>
                </div>
                <div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </a>
        </div>
    </div>
</section> -->