.profile-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}
.profile-info{
    padding: 20px;
}
.profile-header{
    padding: 20px;
}
.profile-img-info{
    display: flex;
    flex-direction: column;

    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 20px;
}

.profile-img-title-action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}
.profile-img img{
    border-radius: 20px;
}

.profile-basic-info-title-action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.profile-basic-info{
    margin: 10px 0px;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 20px;
}

.profile-account-info-title-action{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
}

.profile-account-info{
    margin: 10px 0px;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 20px;
}

/*  */
hr {
    height: 1px;
    background-color: #eaeaea;;
    border: none;
}
.key{
    display: inline-block;
    width: 200px;

    color: #717171;
}
.value{
    color: #717171;
}

i{
    font-size: 25px;
    cursor: pointer;
}
i:hover{
    color: #6E3EFF;
}
a { 
    color: inherit; 
} 