<section class="main-page">
    <div class="main-profile">
        <div class="preview-img">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
        </div>
        <div class="profile-preview">
            <label for="">vivek</label>
            <div class="profile-percentage">
                <input type="range" value="50" min="0" max="100">
                <p>42% Profile Complete</p>
            </div>
        </div>
    </div>

    <div class="main-section">
        <div class="profile-basic-info">
            <a class="profile-basic-info-title-action" routerLink="/main/editprofile">
                <div class="profile-basic-info-title-action-label">
                    <i class="fa-regular fa-pen-to-square"></i>
                    <label>Edit Profile</label>
                </div>
                <div>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </a>
        </div>
    </div>
</section>