* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

/* styles.scss */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* styles.scss */
body {
  font-family: 'Courier New', monospace;
}

.empty{
  height: 12vh;
}

input, select{
  font-family: 'Courier New', monospace;
  background-color: #f4f4f4;
  padding: 0vh 2vh;
}

/* home */

.home{
  display: flex;
  flex-direction: column;
  
  padding: 1vh;
  gap:1vh;
}

.name {
 
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #f4f4f4;
  padding: 10px;
  border: 2px solid #333; 
  border-radius: 5px; 
}
.age{
  
  font-size: 24px;
  font-weight: bold;
  color: #333;
  background-color: #f4f4f4;
  padding: 10px;
  border: 2px solid #333; 
  border-radius: 5px; 
}
.name-age{
  display : flex;
  gap:1vh
}
.first-img{
  display:flex;
}
.first-img img {
  width: 100%;
  max-width: 100%;
  display: block; 
  border: 2px solid #333; 
  border-radius: 5px; 
  margin: 10px 0;
}
.first-info{
  display: flex;
  gap:1vh;
}

.tag-icon-label {
    gap:1vh;
    display: flex;
    align-items: center;
    background-color: #f4f4f4;
    border: 2px solid #333; 
    border-radius: 10px; 
    padding: 10px;
}
.tag-label{
  font-size: 16px;
  font-weight: bold;
  color: #333;
  }
.tag-icon{
  font-size: 16px;
  font-weight: bold;
  color: #333;
  }



/* home end */

/* bottom nav */

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  font-size: 20px;
  border-top: 2px solid #333;
}

.nav-item {
  cursor: pointer;
  padding: 5vw;
}

.nav-item a {
  text-decoration: none;
  color: #333;
}

.nav-item a i {
  font-size: 24px;
  color: #333;
}

.active {
  color: #f4f4f4;
}


/* bottom nav end */

/* prifile */

.profile-img-name-complete{
  display: flex;
  flex-direction: row;
  gap:1vh;
  padding: 5vh 0vh;
  justify-content: center;
}

.profile-page-profile-img{
  width: 20vw;
}
.profile-page-profile-img img{
  border-radius: 50%;
}

.profile-name-complete{
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}
/* profile end */


/* form */

.AboutForm{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

/* form end */

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.signupform {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.signup-first-last-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.signup-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.signup-action {
  width: 100vw;
  position: fixed;
  bottom: 10vh;
  display: flex;
  justify-content: center;
  left: 0vh;
}

.signup-action button {
  border: none;
  padding: 3vh 40vw;
  border-radius: 2vh;
  cursor: pointer;
}

.signup-gender {
  width: 100%;
}

.loginform {
  width: 100vw;
  position: fixed;
  bottom: 10vh;
  display: flex;
  justify-content: center;
}

.xating {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}


.profile-container {
  padding: 2vh;
}

.profile-info-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.profile-info-navbar-back {
  padding: 2vh 2.5vh;
  background-color: #f4f4f4;
  border: 2px solid #333;
  border-radius: 10px;
}

.profile-info-navbar-preview {
  padding: 2vh;
  background-color: #f4f4f4;
  border: 2px solid #333;
  border-radius: 10px;
}

.profile-info-edit {
  color: #333;
}

.profile-container {
  display: flex;
  flex-direction: column;
}

.profile-info {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.profile-basic-info-title-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 1vh;
  padding: 2vh 2vh;

  cursor: pointer;
  text-decoration: none;
  color: black;
}

.profile-account-info-title-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: mintcream;
  border-radius: 1vh;
  padding: 2vh 2vh;

  cursor: pointer;
  text-decoration: none;
  color: black;
}

.profile-img img{
  background-color: #f4f4f4;
  border: 2px solid #333;
  border-radius: 10px;
}

.profile-basic-info-title-action-label {
  display: flex;
  flex-direction: rwo;
  gap: 2vh;
}

.profile-account-info-title-action-label {
  display: flex;
  flex-direction: rwo;
  gap: 2vh;
}





/* about */

.about-action {
  width: 100vw;
  position: fixed;
  bottom: 12vh;
  display: flex;
  justify-content: center;
  left: 0vh;
}

.about-action button {

  background-color: #f4f4f4;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 3vh 40vw;
  cursor: pointer;
}
.about-first-last-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}
.about{
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
.about input{
  width: 80vw;
  height: 7vh;
  border-radius: 2vh;
  border: none;
  outline: none;
  font-size: 20px;
}
.about select{
  width: 80vw;
  height: 7vh;
  border-radius: 2vh;
  border: none;
  outline: none;
  font-size: 20px;
}
.about-date-of-birth{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-gender{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-coomunity{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

