<section class="main-section">
    <div class="top-section">
        <label>Name</label>
        <span>Age</span>
    </div>
    <div class="bottom-section">
        <div class="top-img">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar">
        </div>
        <div class="heading-card">
            <div class="inner-card">
                <p>I am looking for</p>
                <h3>soulmate</h3>
            </div>
        </div>
        <div class="detail-section">
            <div class="card-detail">
                <span><i class="fa-regular fa-user"></i> Single</span>
                <span><i class="fa-light fa-brightness"></i> Libra</span>
                <span><i class="fa-solid fa-up-down"></i> 5'4"</span>
            </div>
            <div class="card-detail">
                <span><i class="fa-sharp fa-light fa-hands-praying"></i> Hindu</span>
                <span><i class="fa-solid fa-book"></i> Gujrati</span>
            </div>
            <div class="card-detail">
                <span><i class="fa-solid fa-location-dot"></i> Ahmedabad</span>
                <span><i class="fa-solid fa-wine-glass"></i> Teetotaler</span>
            </div>
            <div class="card-detail">
                <span><i class="fa-solid fa-smoking"></i> Non smoker</span>
                <span><i class="fa-duotone fa-circle-dot"></i> Active this week</span>
            </div>
        </div>
        <div class="bottom-img">
            <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" width="350px">
        </div>
        <div class="personal-info">
            <div class="personal-section">
                <label for="">Books</label>
                <p>5/10</p>
            </div>
            <div class="personal-section">
                <label for="">Books</label>
                <p>5/10</p>
            </div>
            <div class="personal-section">
                <label for="">Books</label>
                <p>5/10</p>
            </div>
            <div class="personal-section">
                <label for="">Books</label>
                <p>5/10</p>
            </div>
            <div class="personal-section">
                <label for="">Books</label>
                <p>5/10</p>
            </div>
            <div class="personal-section">
                <label for="">Books</label>
                <p>5/10</p>
            </div>
        </div>
        <div class="other-detail">
            <div class="first-other"><i class="fa-solid fa-book"></i> Other</div>
            <div class="first-other"><i class="fa-solid fa-book"></i> Other</div>
            <div class="first-other"><i class="fa-solid fa-book"></i> Other</div>
            <div class="first-other"><i class="fa-solid fa-book"></i> 3 year Experience</div>
        </div>
        <div class="philosophy-card">
            <p>Philosophy</p>
            <h3>Passive than Aggressive</h3>
        </div>
        <div class="planning-card">
            <p>I'm Planning to</p>
            <h3>Settle</h3>
        </div>
        <div class="bottom-card">
      
        </div>
    </div>
</section>