<div class="home">
    <div class="name-age">
        <div class="name">
            Emma
        </div>
        <div class="age">
            26
        </div>
    </div>
    <div class="first-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Emma_D%27Arcy.jpg" width="100%">
    </div>
    <div class="first-info">
        <div class="tag-icon-label">
            <div class="tag-icon">
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="tag-label">
                Single
            </div>
        </div>
        <div class="tag-icon-label">
            <div class="tag-icon">
                <i class="fa-solid fa-up-long"></i>
            </div>
            <div class="tag-label">
                5'11"
            </div>
        </div>
    </div>

    <div class="first-img">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3f/Emma_D%27Arcy.jpg" width="100%">
    </div>
    <div class="first-info">
        <div class="tag-icon-label">
            <div class="tag-icon">
                <i class="fa-regular fa-user"></i>
            </div>
            <div class="tag-label">
                Single
            </div>
        </div>
        <div class="tag-icon-label">
            <div class="tag-icon">
                <i class="fa-solid fa-up-long"></i>
            </div>
            <div class="tag-label">
                5'11"
            </div>
        </div>
    </div>


    <div class="empty">

    </div>
</div>